<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Keycloak Angular 11 Demo</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a routerLink="/products" routerLinkActive="active" class="nav-item nav-link" >Produkte</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
  <span class="navbar-text navbar-right">Angemeldet als <a href="#"><simple-user-info></simple-user-info></a></span>

  </div>
</nav>

<ff-alerts></ff-alerts>
<router-outlet></router-outlet>